body{
    background-color: #3AAFA9;
    font-family: 'Times New Roman', Times, serif;
}

img{
    width: 450px;
    height: 300px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.flexbox-container{
    display: flex;
    justify-content: space-around;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textbox{
    background-color:#dfdfdfb6;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 200px;
    margin-left: 200px;
    padding-right: 20px;
    padding-left: 20px;
}

.note{
    color: #363535e7;
    text-align: center;
}